@page "/"

<PageTitle>Tyler Evers</PageTitle>

<div class="about">
    <div class="headshot">
        <img src="/PXL_20220127_024325769.jpg" />
    </div>
    <div class="info">
        <h2><b class="name">Tyler Evers</b></h2>
        <p> I'm a Software Engineer specializing in the .NET Stack while leveraging SQL for the data layer. More specifically I am currently focusing on building RESTful APIs along with various Web Scraping projects. 
            Currently, I am working on expanding my knowledge in this tech stack (specifically with Blazor and Angular) alongside improving my knowledge and experience within Azure.</p>
        <p> Outside of programming I enjoy hiking, watching football (Go Chiefs!), playing video games and spending time with my family and our dogs. </p>
    </div>
</div>

<div class="skills-and-projects">
    <div class="skills">
        <div class="section-header">
            <h2>Skills</h2>
        </div>
        <div class="skill-container">
            <div class="skill">
                <i class="devicon-dotnetcore-plain" @onclick='() => FilterProjects("dotnet")'></i>
            </div>
            <div class="skill">
                <i class="devicon-microsoftsqlserver-plain-wordmark" @onclick='() => FilterProjects("sql")'></i>
            </div>
            <div class="skill">
                <i class="devicon-azure-plain" @onclick='() => FilterProjects("azure")'></i>
            </div>
            <div class="skill">
                <i class="devicon-git-plain" @onclick='() => FilterProjects("git")'></i>
            </div>
            <div class="skill">
                <i class="devicon-html5-plain-wordmark" @onclick='() => FilterProjects("html")'></i>
            </div>
            <div class="skill">
                <i class="devicon-css3-plain-wordmark" @onclick='() => FilterProjects("css")'></i>
            </div>
        </div>
    </div>

    <div class="projects">
        <div class="section-header">
            <h2>Projects</h2>
        </div>
        @foreach (var project in projects)
        {
            if (string.IsNullOrEmpty(selectedSkill) || project.dataCategory.Contains(selectedSkill))
            {
                <div class="project" data-category="@project.dataCategory">
                    <p class="projectname"><b><a href="@project.link">@project.name</a></b> (@project.language)</p>
                    <p>@project.description</p>
                </div>
            }
        }
    </div>
</div>

@code {
    private string selectedSkill = string.Empty;

    private List<Project> projects = new List<Project>
    {
        new Project { name = "Advent Of Code - 2021", link = "https://github.com/TylerEvers/AOC2021", language = "C#", description = "Repo containing my current progress on the Advent of Code 2021 challenges.", dataCategory = "dotnet" },
        new Project { name = "FFUpdates-API", link = "https://github.com/TylerEvers/FFUpdates-API", language = "ASP.Net", description = "Sample RESTful API developed in ASP.Net and implementing Dapper ORM.", dataCategory = "dotnet sql" },
        new Project { name = "Portfolio", link = "https://github.com/TylerEvers/Portfolio", language = "ASP.Net", description = "The source code for the site you are currently looking at.", dataCategory = "dotnet html css azure" },
        new Project { name = "FFUpdates-DynamoLeagueScrape", link = "https://github.com/TylerEvers/FFUpdates-DynamoLeagueScrape", language = "C#", description = "A small C# batch app to scrape rosters data.", dataCategory = "dotnet sql" },
        new Project { name = "FFUpdates-RosterFeed", link = "https://github.com/TylerEvers/FFUpdate-RosterFeed", language = "Python", description = "A simple batch app that takes a .CSV file.", dataCategory = "python sql" }
    };

    private class Project
    {
        public string name { get; set; }
        public string link { get; set; }
        public string language { get; set; }
        public string description { get; set; }
        public string dataCategory { get; set; }
    }

    private void FilterProjects(string skill)
    {
        selectedSkill = skill;
    }
}